%link{:href => "/css/bootstrap-suggest.css", :rel => "stylesheet"}/
%script{:src => "/js/bootstrap-suggest.js"}

.col-md-10
  %br
  %h3 Edit #{@udo_to_edit.type} object
  %br

  %form{ :method => "post", :enctype => "application/x-www-form-urlencoded" }
    - @udo_template_properties.each do |param_name, value|
      .control-group
        %label.control-label{ :for => "param_#{param_name}" }
          %strong
            #{param_name}
        .controls
          %textarea.allowMarkupShortcut.input-large{ :id => "param_#{param_name}", :name => "param_#{param_name}", :rows => "2" }
            #{meta_markup(@udo_to_edit_properties[param_name.downcase])}

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Save", :name => "action" }
    %a.btn.btn-default{ :href => "/report/#{@report.id}/udo/manage" }
      Cancel

-if @attaches
  - attachments=''
  - @attaches.each do |attach|
    - attachments = attachments + "{name: '#{attach}'},"
  / autosuggest code is care of bootstrap-suggest.js
  :javascript
    var files = [
      #{attachments}
    ];
    var param_ids = '';
    var param_textboxes = document.querySelectorAll('[id^="param_"]');
    for (var box of param_textboxes) {
        param_ids += "#" + box.id + ", ";
    }
    var suggestSettings =
    $(param_ids.slice(0, -2)).suggest('[', {
      data: files,
      filter: {
        casesensitive: true,
        limit: 10
      },
      map: function(file) {
        return {
          value: '!!'+file.name+'!!]',
          text: '<strong>'+file.name+'</strong>'
          }
      }
    })
