.col-md-10
  %br
  %h2 Report Name: #{@report.report_name}
  %br

  %form{ :method => "post" }
    - if @user_variables == ""
      %h3
        It appears you do not have any user defied variables. Would you like to add some?
      %br
      %h3
        Add user defined variables
      %br
      .table.table-striped
        %table
          %tr
            %td
              %label.col-md-3{ :for => "variable_name" }
                Variable Name:&nbsp;
            %td
              %input#variable_name{ :type => "text", :style => "width: 90%", :name => "variable_name_0_" }
          %tr
            %td
              %label.col-md-3{ :for => "variable_data" }
                Variable data:&nbsp;
            %td
              %textarea.input-xxlarge#variable_data{ :rows => "10", :name => "variable_data_0_" }
        %br
    - else
      - i = 0
      - w = 66
      - @user_variables.each do | variables_name, variables_data|
        .table.table-striped
          %table
            %tr
              %td
                %label.col-md-3{ :for => "variable_name_#{w}_" }
                  Variable Name:&nbsp;
              %td
                %input{ :id => "variable_name_#{w}_", :type => "text", :style => "width: 90%", :name =>"variable_name_#{w}_", :value => "#{variables_name}" }
            %tr
              %td
                %label.col-md-3{ :for => "variable_data_#{w}_" }
                  Variable data:&nbsp;
              %td
                %textarea{ :id => "variable_data_#{w}_", :name => "variable_data_#{w}_" }
                  #{variables_data}
          %br
          - w = w + 1
      %h3
        Add addtional user defined variables
      .table.table-striped
        %table
          %tr
            %td
              %label.col-md-3{ :for => "variable_name_#{i}_" }
                Variable Name:&nbsp;
            %td
              %input{ :id => "variable_name_#{i}_", :type => "text", :style => "width: 90%", :name =>"variable_name_#{i}_" }
          %tr
            %td
              %label.col-md-3{ :for => "variable_data_#{i}_" }
                Variable data:&nbsp;
            %td
              %textarea.input-xxlarge{ :id => "variable_data_#{i}_", :rows => "10", :name => "variable_data_#{i}_" }
        %br
        - i = i + 1

    %input.btn.btn-default{ :type => "submit", :value => "Save" }
    %a.btn.btn-default{ :href => "/report/#{@report.id}/additional_features" }
      Cancel

-if @attaches
  - attachments=''
  - @attaches.each do |attach|
    - attachments = attachments + "{name: '#{attach}'},"
  / autosuggest code is care of bootstrap-suggest.js
  :javascript
    var files = [
      #{attachments}
    ];
    var param_ids = '';
    var param_textboxes = document.querySelectorAll('[id^="variable_data_"]');
    for (var box of param_textboxes) {
        param_ids += "#" + box.id + ", ";
    }
    var suggestSettings =
    $(param_ids.slice(0, -2)).suggest('[', {
      data: files,
      filter: {
        casesensitive: true,
        limit: 10
      },
      map: function(file) {
        return {
          value: '!!'+file.name+'!!]',
          text: '<strong>'+file.name+'</strong>'
          }
      }
    })
